<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        .card {

            background-color: rgba(255, 255, 255, 0.8);
        }
    </style>
</head>

<body style="background-color: antiquewhite;">
    <div class="d-flex justify-content-between align-items-center p-2 rounded shadow" style="background-color:cornsilk">

        <h4 >登入資訊: {{ user['account'] }} -
            {% if user['level'] == 1 %}
            管理員
            {% else %}
            使用者
            {% endif %}
        </h3>
        <a href="booking?edit=3" class="btn btn-outline-secondary">home</a>
        <a href="booking?edit=0" class="btn btn-outline-secondary">訂製房間</a>
        {% if user['level'] == '1' %}
        <a href="booking?edit=1" class="btn btn-outline-secondary">會員管理</a>
        <a href="booking?edit=2" class="btn btn-outline-secondary">管理房間類型</a>
        {% endif %}


        <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger" name="btn">登出</button>
        </form>

    </div>

    {% if user['level'] == '1' and url=='1' %}
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h2>會員管理</h2>
            </div>
            <divv class="card-body">
                <table border="1" cellpadding="8" class="table">
                    <thead>
                        <tr>
                            <th>使用者名稱</th>
                            <th>密碼</th>
                            <th>權限</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in users %}
                        <tr>
                            <form action="/UpdAndDelUsers" method="post">
                                <td><input type="text" class="form-control" value="{{ s.account }}" name="account"></td>
                                <td><input type="number" min="1" class="form-control" value="{{ s.password }}"
                                        name="password"></td>
                                <td>
                                    <select name="level" class="form-select">
                                        <option value="0" {% if '0'==s.level %} selected{% endif %}>使用者</option>
                                        <option value="1" {% if '1'==s.level %} selected{% endif %}>管理員</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-outline-warning" name="upd" value="{{s.id}}">修改</button>
                                    <button class="btn btn-outline-danger" name="del" value="{{s.id}}"
                                        onclick="return confirm('確定刪除?')">刪除</button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </divv>
        </div>
    </div>

    {% endif %}
    {% if user['level'] == '1' and url=='2' %}
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">


                        <h2>新增房間類型</h2>
                        <form action="/add_roomtype" method="post">
                            <div class="row">

                                <label for="">房間類型名稱</label>
                                <input type="text" value="" class="form-control" name="name">
                                <label for="">價格</label>
                                <input type="number" min="1" value="" class="form-control" name="price">

                            </div>
                            <div class="mt-3 text-center">
                                <button type="submit" class="btn btn-outline-primary col-3">新增</button>
                            </div>
                        </form>

                    </div>
                    <div class="col">
                        <h2>已有房間類型</h2>
                        <table border="1" cellpadding="8"class="table table-striped">
                            <thead>
                                <tr>
                                    <th>房間類型名稱</th>
                                    <th>價錢</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in room_types %}
                                <tr>
                                    <form action="/UpdAndDelRoomType" method="post">
                                        <td><input type="text" class="form-control" value="{{ s.name }}" name="name">
                                        </td>
                                        <td><input type="number" min="1" class="form-control" value="{{ s.price }}"
                                                name="price"></td>
                                        <td class="col-3">
                                            <button class="btn btn-outline-warning" name="upd"
                                                value="{{s.id}}">修改</button>
                                            <button class="btn btn-outline-danger" name="del" value="{{s.id}}"
                                                onclick="return confirm('確定刪除?')">刪除</button>
                                        </td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% if url=='0' %}
                        <div class="d-flex justify-content-center">
                            <div class="card w-50 ">
                                <div class="card-header">
                                    <h2>新增房間預訂</h2>

                                </div>
                                <div class="card-body">

                                    <form action="/add_room" method="post">

                                        <label>房號</label>
                                        <input type="text" class="form-control" name="room_number" placeholder="房號"
                                            required>


                                        <label for="">房間類型</label>
                                        <select name="room_type_id" class="form-select">
                                            {% for rt in room_types %}
                                            <option value="{{ rt.id }}">
                                                {{ rt.name }}
                                            </option>
                                            {% endfor %}
                                        </select>


                                        <label>客戶姓名</label>
                                        <input type="text" class="form-control" name="customer_name" placeholder="客戶姓名"
                                            required>

                                        <label>聯絡方式</label>
                                        <input type="text" class="form-control" name="contact_info" placeholder="聯絡方式"
                                            required>


                                        <label>入住日期</label>
                                        <input type="date" class="form-control" name="check_indate" required>

                                        <label>退房日期</label>
                                        <input type="date" class="form-control" name="check_outdate" required>
                                        <div class="text-center mt-3">
                                            <button class="btn btn-outline-primary col-3">新增</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {% endif %}
    {% if url=='3' %}
    <div class="card ">
        <div class="card-header">
            <h3>目前房間訂單</h3>
        </div>
        <div class="card-body">


            <form action="/selData" method="post">
                <div class="row w-50 my-3">
                    <div class="col">
                        <label for="">搜尋內容</label>
                        <input type="text" class="form-control" name="select" placeholder="搜尋內容">
                    </div>
                    <div class="col">
                        <label for="">搜尋類型</label>
                        <select name="option" class="form-select">
                            <option value="0" {% if option|string=='0' %} selected{% endif %}>Booking_ID</option>
                            <option value="1" {% if option|string=='1' %} selected{% endif %}>Room_Number</option>
                            <option value="2" {% if option|string=='2' %} selected{% endif %}>Customer_Name</option>
                            <option value="3" {% if option|string=='3' %} selected{% endif %}>房間類型</option>
                        </select>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary my-4" name="sel">查詢</button>
                    </div>
                </div>
            </form>

            <table border="1" cellpadding="8"class="table table-striped">
                <thead>
                    <tr>
                        <th>Booking_ID</th>
                        <th>Room_type</th>
                        <th>Room_Number</th>
                        <th>Customer_Name</th>
                        <th>Contact_INFO</th>
                        <th>Check_InDate</th>
                        <th>Check_OutDate</th>
                        <th>總價格</th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in students %}
                    <tr>
                        {% if user['level'] == '1' or user['id']==s.user_id %}
                        <form action="/UpdAndDelRoom" method="post">
                            <td>{{ s.booking_id }}</td>
                            <td>
                                <select name="room_type_id" class="form-select">
                                    {% for rt in room_types %}
                                    <option value="{{ rt.id }}" {% if rt.name==s.room_type %} selected{% endif %}>
                                        {{ rt.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>

                            <td><input type="text" class="form-control" value="{{ s.room_number }}" name="room_number">
                            </td>
                            <td><input type="text" class="form-control" value="{{ s.customer_name }}"
                                    name="customer_name"></td>
                            <td><input type="text" class="form-control" value="{{ s.contact_info }}"
                                    name="contact_info"></td>
                            <td><input type="date" class="form-control" value="{{ s.check_indate }}"
                                    name="check_indate"></td>
                            <td><input type="date" class="form-control" value="{{ s.check_outdate }}"
                                    name="check_outdate"></td>
                            <td>{{s.price}}</td>



                            <td>
                                <button class="btn btn-outline-warning" name="upd" value="{{s.booking_id}}">修改</button>
                                <button class="btn btn-outline-danger" name="del" value="{{s.booking_id}}"
                                    onclick="return confirm('確定刪除?')">刪除</button>
                            </td>
                        </form>
                        {% else %}

                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}


</body>

</html>